.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  width: 22rem;
  padding: 0 0.5rem 2rem 0.5rem;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: cardMove 1.5s infinite ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card > h3 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

#vidaFinanceira {
  background-color: #fd377e;
  color: #ffffff;
}

#devHub {
  background-color: #59323f;
  color: #ffffff;
}

#burguerDev {
  background-color: #27ae60;
  color: #ffffff;
}

#startCode {
  background-color: #1b2727;
  color: #ffffff;
}

#receitaFacil {
  background-color: #f3f9ff;
  color: #000000;
}

#bandKamp {
  background-color: rgb(52, 28, 77);
  color: #ffffff;
}

@keyframes cardMove {
  50% {
    transform: translateY(-1%);
  }
}

@media (max-width: 370px) {
  .card {
    width: 90vw;
  }
}
