@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;200&display=swap");

.large-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.logo {
  margin-top: 5%;
  width: 75vw;
  margin-bottom: 6rem;
  display: none;
}

.info-logo {
  position: absolute;
  top: 60%;
  width: 30vw;
}

.main-bio {
  font-family: "Nunito", sans-serif;
  position: absolute;
  top: 50%;
  color: #f9f1e9;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.4em;
}

.main-title {
  position: absolute;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-size: 6.2vw;
  font-weight: 300;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
  color: #f9f1e9;
  max-width: 75%;
  width: 100%;
}

.main-title > span {
  flex-direction: column;
  font-weight: 200;
  position: absolute;
  right: 0;
  top: 100%;
}

.main-icons {
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70%;
  gap: 32px;
  padding: 0.8rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

.main-icons > a > span {
  font-size: 1.4rem;
  color: #f9f1e9;
  cursor: pointer;
  transition: 0.3s;
}

.main-icons > a > span:hover {
  opacity: 80%;
}

@media (max-width: 720px) {
  .logo {
    margin-top: 10vh;
    width: 90vw;
    display: block;
  }

  .main-title {
    display: none;
  }

  .info-logo {
    width: 40vw;
    position: relative;
    top: 0;
  }
}

@media (max-width: 420px) {
  .info-logo {
    width: 60vw;
    position: relative;
    top: 0;
  }
}

@media (max-width: 300px) {
  .main-icons {
    gap: 12px;
    padding: 0.3rem 0;
  }
  .main-icons > a > span {
    font-size: 0.8rem;
  }
}
