.background {
  background: #111;
  /* overflow: hidden; */
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url("../../assets/background.svg")
    /* url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg") */;
}
